In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [2]:
df = pd.read_csv("D:\\Feature_csv_Files\\Attrition.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
X = df.drop(columns= 'Attrition')
y = df['Attrition']

In [5]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [6]:
categorical_features = ['BusinessTravel' , 'Department' , 'EducationField' , 'Gender' , 'MaritalStatus' , 'JobRole' , 'Over18','OverTime']

In [7]:
X_encoded = pd.get_dummies(X ,categorical_features , drop_first= True )

In [8]:
lb = LabelEncoder()
y_encoded = lb.fit_transform(df['Attrition'])

In [9]:
X_train , X_test , y_train , y_test = train_test_split(X_encoded , y_encoded , test_size= 0.2 , random_state= 33)

In [10]:
sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.fit_transform(X_test)

In [13]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(units= 128 , activation= 'relu' , input_dim = X_train_scaled.shape[1]) ,
    tf.keras.layers.Dropout(0.3) ,
    tf.keras.layers.Dense(units = 64 , activation= 'relu') , 
    tf.keras.layers.Dropout(0.3) ,
    tf.keras.layers.Dense(units= 1 , activation = 'sigmoid' )
])

In [14]:
loss_fn = tf.keras.losses.BinaryCrossentropy()
metrics = ['accuracy']

In [15]:
# Define the optimizers with adagrade 

learning_rate = 0.001
optimizer = tf.keras.optimizers.RMSprop(learning_rate )

In [16]:
# Compile the model
model.compile(optimizer= optimizer , loss= loss_fn , metrics= metrics)

In [17]:
# Train the model 

epochs = 10
batch_size = 20
model.fit(X_train , y_train , epochs= epochs , batch_size = batch_size , validation_split= 0.2)

Epoch 1/10
47/47 [==============================] - 1s 6ms/step - loss: 274.1998 - accuracy: 0.7138 - val_loss: 134.4388 - val_accuracy: 0.8347
Epoch 2/10
47/47 [==============================] - 0s 3ms/step - loss: 133.1748 - accuracy: 0.7415 - val_loss: 62.4080 - val_accuracy: 0.8347
Epoch 3/10
47/47 [==============================] - 0s 3ms/step - loss: 78.5075 - accuracy: 0.7394 - val_loss: 29.3700 - val_accuracy: 0.8347
Epoch 4/10
47/47 [==============================] - 0s 3ms/step - loss: 46.9489 - accuracy: 0.7404 - val_loss: 8.2438 - val_accuracy: 0.8347
Epoch 5/10
47/47 [==============================] - 0s 3ms/step - loss: 20.5266 - accuracy: 0.7394 - val_loss: 0.4593 - val_accuracy: 0.8347
Epoch 6/10
47/47 [==============================] - 0s 3ms/step - loss: 8.8351 - accuracy: 0.7681 - val_loss: 0.5605 - val_accuracy: 0.8347
Epoch 7/10
47/47 [==============================] - 0s 4ms/step - loss: 3.8693 - accuracy: 0.8021 - val_loss: 0.6492 - val_accuracy: 0.8347
Epoch 8/10
47/47 [==============================] - 0s 3ms/step - loss: 2.4002 - accuracy: 0.8287 - val_loss: 0.6291 - val_accuracy: 0.8347
Epoch 9/10
47/47 [==============================] - 0s 3ms/step - loss: 2.0938 - accuracy: 0.8213 - val_loss: 0.6091 - val_accuracy: 0.8347
Epoch 10/10
47/47 [==============================] - 0s 3ms/step - loss: 1.8251 - accuracy: 0.8245 - val_loss: 0.5953 - val_accuracy: 0.8347

In [18]:
# Evaluate the model 

test_loss , test_accuracy = model.evaluate(X_test , y_test)
print("Test Loss :" , test_loss)
print('Test Accuracy :' , test_accuracy )

10/10 [==============================] - 0s 2ms/step - loss: 0.5912 - accuracy: 0.8367
Test Loss : 0.5911762714385986
Test Accuracy : 0.8367347121238708