In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\\Feature_csv_Files\\Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [6]:
# Preprocess the dataset 

X = df.iloc[: , 3: -1].values
y = df.iloc[: , -1].values
# Encode categorical features

le = LabelEncoder()
X[: , 1] = le.fit_transform(X[: , 1])
X[: , 2] = le.fit_transform(X[:, 2])

In [7]:
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size= 0.2 , random_state= 33)

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# Define the neural network architecture
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64 , activation= 'relu' , input_dim = X_train.shape[1]) ,
    tf.keras.layers.Dense(64 , activation = 'relu') ,
    tf.keras.layers.Dense(1, activation = 'sigmoid')
])

# Define the loss function

loss_fn = tf.keras.losses.BinaryCrossentropy()
metrices = ['accuracy']

# Define the optimizer with Nesterov Accelerated gradinet(NaG)
learning_rate = 0.001
momentum = 0.9
optimizer = tf.keras.optimizers.SGD(learning_rate = learning_rate , momentum= momentum , nesterov= True)

In [10]:
# Compile the model

model.compile(optimizer = optimizer , loss = loss_fn , metrics = metrices)

In [11]:
# train the model

epochs = 10
batch_size = 32
model.fit(X_train , y_train , batch_size = batch_size , epochs= epochs , validation_split= 0.2)

Epoch 1/10
200/200 [==============================] - 2s 5ms/step - loss: 0.4992 - accuracy: 0.7939 - val_loss: 0.4999 - val_accuracy: 0.7794
Epoch 2/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4584 - accuracy: 0.7992 - val_loss: 0.4761 - val_accuracy: 0.7844
Epoch 3/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4407 - accuracy: 0.8041 - val_loss: 0.4613 - val_accuracy: 0.7962
Epoch 4/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4296 - accuracy: 0.8128 - val_loss: 0.4526 - val_accuracy: 0.8037
Epoch 5/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4220 - accuracy: 0.8166 - val_loss: 0.4459 - val_accuracy: 0.8056
Epoch 6/10
200/200 [==============================] - 1s 3ms/step - loss: 0.4161 - accuracy: 0.8203 - val_loss: 0.4407 - val_accuracy: 0.8081
Epoch 7/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4110 - accuracy: 0.8217 - val_loss: 0.4355 - val_accuracy: 0.8131
Epoch 8/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4063 - accuracy: 0.8280 - val_loss: 0.4320 - val_accuracy: 0.8163
Epoch 9/10
200/200 [==============================] - 1s 4ms/step - loss: 0.4020 - accuracy: 0.8300 - val_loss: 0.4275 - val_accuracy: 0.8206
Epoch 10/10
200/200 [==============================] - 1s 4ms/step - loss: 0.3974 - accuracy: 0.8352 - val_loss: 0.4230 - val_accuracy: 0.8219

In [12]:
# Evaluate the model
test_loss , test_acc = model.evaluate(X_test , y_test)
print("Test Loss" , test_loss) 
print("Test Accuracy" , test_acc)

63/63 [==============================] - 0s 2ms/step - loss: 0.4096 - accuracy: 0.8285
Test Loss 0.40964066982269287
Test Accuracy 0.828499972820282

In [14]:
X_train.shape

(8000, 10)

In [15]:
df.shape

(10000, 14)

In [18]:
y_test.shape

(2000,)

In [19]:
X_test.shape

(2000, 10)

In [20]:
y_train.shape

(8000,)

In [22]:
X.shape

(10000, 10)

In [23]:
y.shape

(10000,)

In [24]:
df.shape

(10000, 14)