In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\\Feature_csv_Files\\Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df = df.drop(columns = ['RowNumber' ,'CustomerId' , 'Surname'])

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df = pd.get_dummies(df , columns = ['Geography' , 'Gender'] , drop_first= True)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [8]:
X = df.drop(columns= ['Exited'])
y = df['Exited']

In [9]:
X_scaled = sc.fit_transform(X)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
df.duplicated().sum()

0

In [12]:
X_train  , X_test , y_train , y_test = train_test_split(X_scaled , y , test_size= 0.2 , random_state= 33)

In [13]:
X_train.shape

(8000, 11)

In [14]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [15]:
model = Sequential()
model.add(Dense(20 , activation= 'relu' , input_dim = 11)) ,
model.add(Dense(1 , activation = 'sigmoid'))

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                240

 dense_1 (Dense)             (None, 1)                 21

=================================================================
Total params: 261 (1.02 KB)
Trainable params: 261 (1.02 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
model.compile(loss = 'binary_crossentropy' , optimizer= 'adam' )

In [18]:
model.fit(X_train , y_train, epochs= 15)

Epoch 1/15
250/250 [==============================] - 1s 2ms/step - loss: 0.5123
Epoch 2/15
250/250 [==============================] - 1s 2ms/step - loss: 0.4308
Epoch 3/15
250/250 [==============================] - 1s 2ms/step - loss: 0.4102
Epoch 4/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3954
Epoch 5/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3833
Epoch 6/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3732
Epoch 7/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3657
Epoch 8/15
250/250 [==============================] - 1s 3ms/step - loss: 0.3601
Epoch 9/15
250/250 [==============================] - 1s 3ms/step - loss: 0.3562
Epoch 10/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3532
Epoch 11/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3506
Epoch 12/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3486
Epoch 13/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3470
Epoch 14/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3457
Epoch 15/15
250/250 [==============================] - 1s 2ms/step - loss: 0.3443

In [19]:
result = model.evaluate(X_test, y_test)
print('Result:', result)

63/63 [==============================] - 0s 2ms/step - loss: 0.3520
Result: 0.35198765993118286

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
y_log = model.predict(X_test)

63/63 [==============================] - 0s 1ms/step

In [22]:
y_pred = np.where(y_log > 0.5, 1 , 0)

In [23]:
accuracy_score(y_test , y_pred)*100

85.3