In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/home//krishna//Csv_files//csv_2//Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df = df.drop(columns = ['RowNumber' ,'CustomerId' , 'Surname'])

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df = pd.get_dummies(df , columns = ['Geography' , 'Gender'] , drop_first= True)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [8]:
X = df.drop(columns= ['Exited'])
y = df['Exited']

In [9]:
X_scaled = sc.fit_transform(X)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
df.duplicated().sum()

0

In [12]:
X_train  , X_test , y_train , y_test = train_test_split(X_scaled , y , test_size= 0.2 , random_state= 33)

In [13]:
X_train.shape

(8000, 11)

In [14]:
# !pip install tensorflow

In [15]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

2024-09-04 12:42:23.080870: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-09-04 12:42:23.083883: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-09-04 12:42:23.092310: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-09-04 12:42:23.106728: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-09-04 12:42:23.110413: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-09-04 12:42:23.122064: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-09-04 12:42:24.041400: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [16]:
model = Sequential()
model.add(Dense(20 , activation= 'relu' , input_dim = 11)) ,
model.add(Dense(1 , activation = 'sigmoid'))

/home/krishna/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [17]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 20)             │           240 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 1)              │            21 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 261 (1.02 KB)

 Trainable params: 261 (1.02 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
model.compile(loss = 'binary_crossentropy' , optimizer= 'adam' )

In [19]:
model.fit(X_train , y_train, epochs= 15)

Epoch 1/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - loss: 0.5537
Epoch 2/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - loss: 0.4394
Epoch 3/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - loss: 0.4168
Epoch 4/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - loss: 0.4096
Epoch 5/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - loss: 0.3893
Epoch 6/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - loss: 0.3874
Epoch 7/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - loss: 0.3778
Epoch 8/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - loss: 0.3558
Epoch 9/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 398us/step - loss: 0.3547
Epoch 10/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 402us/step - loss: 0.3585
Epoch 11/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 392us/step - loss: 0.3592
Epoch 12/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - loss: 0.3519
Epoch 13/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - loss: 0.3500
Epoch 14/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 395us/step - loss: 0.3421
Epoch 15/15
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 392us/step - loss: 0.3388

In [20]:
result = model.evaluate(X_test, y_test)
print('Result:', result)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 390us/step - loss: 0.3622
Result: 0.35551467537879944

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
y_log = model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step

In [23]:
y_pred = np.where(y_log > 0.5, 1 , 0)

In [24]:
accuracy_score(y_test , y_pred)*100

84.95