In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\\Feature_csv_Files\\Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [5]:
X = df.drop(columns = "Exited")
y = df['Exited']

In [6]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [7]:
cat_col = ['Surname' , 'Geography' , 'Gender'  ]

In [8]:
X_encoded = pd.get_dummies(X , columns= cat_col , drop_first= True)

# Encoding categorical features

In [9]:
# Split the dataset 

X_train , X_test , y_train , y_test = train_test_split(X_encoded , y, test_size= 0.2 , random_state= 33)

In [10]:
# Standardize the features

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# Define the neural networks

model = tf.keras.Sequential([
    tf.keras.layers.Dense(64 , activation= 'relu' , input_dim = X_train.shape[1]) ,
    tf.keras.layers.Dense(64 , activation = 'relu' ) ,
    tf.keras.layers.Dense(1 , activation = 'sigmoid')
])

In [11]:
# Define the loss 
loss_fn = tf.keras.losses.BinaryCrossentropy()

metrices = ['accuracy']

In [12]:
# Define the optimizers with adagrade 

learning_rate = 0.001
optimizer = tf.keras.optimizers.Adagrad(learning_rate )

In [13]:
# Compile the model
model.compile(optimizer= optimizer , loss= loss_fn , metrics= metrices)

In [18]:
# Train the model 

epochs = 10
batch_size = 20
model.fit(X_train , y_train , epochs= epochs , batch_size = batch_size , validation_split= 0.2)

Epoch 1/10
320/320 [==============================] - 2s 6ms/step - loss: 0.2768 - accuracy: 0.8784 - val_loss: 0.6217 - val_accuracy: 0.7550
Epoch 2/10
320/320 [==============================] - 2s 5ms/step - loss: 0.2746 - accuracy: 0.8788 - val_loss: 0.6250 - val_accuracy: 0.7538
Epoch 3/10
320/320 [==============================] - 2s 5ms/step - loss: 0.2727 - accuracy: 0.8797 - val_loss: 0.6281 - val_accuracy: 0.7525
Epoch 4/10
320/320 [==============================] - 2s 5ms/step - loss: 0.2708 - accuracy: 0.8805 - val_loss: 0.6311 - val_accuracy: 0.7500
Epoch 5/10
320/320 [==============================] - 2s 5ms/step - loss: 0.2691 - accuracy: 0.8822 - val_loss: 0.6342 - val_accuracy: 0.7506
Epoch 6/10
320/320 [==============================] - 2s 5ms/step - loss: 0.2674 - accuracy: 0.8831 - val_loss: 0.6372 - val_accuracy: 0.7494
Epoch 7/10
320/320 [==============================] - 1s 4ms/step - loss: 0.2659 - accuracy: 0.8836 - val_loss: 0.6401 - val_accuracy: 0.7487
Epoch 8/10
320/320 [==============================] - 1s 4ms/step - loss: 0.2644 - accuracy: 0.8838 - val_loss: 0.6430 - val_accuracy: 0.7487
Epoch 9/10
320/320 [==============================] - 1s 4ms/step - loss: 0.2631 - accuracy: 0.8841 - val_loss: 0.6459 - val_accuracy: 0.7475
Epoch 10/10
320/320 [==============================] - 1s 4ms/step - loss: 0.2617 - accuracy: 0.8848 - val_loss: 0.6489 - val_accuracy: 0.7487

In [17]:
# Evaluate the model 

test_loss , test_accuracy = model.evaluate(X_test , y_test)
print("Test Loss :" , test_loss)
print('Test Accuracy :' , test_accuracy )

63/63 [==============================] - 0s 2ms/step - loss: 0.5335 - accuracy: 0.7790
Test Loss : 0.5335020422935486
Test Accuracy : 0.7789999842643738